/* top container formatting */
.top-container {
  display:grid;
  grid-gap: 10px;
  grid-template-areas:
  "a a"
  "box-1 box-2"
}

.showcase {
<<<<<<< Updated upstream
  min-height: 500px;
  padding: 3rem;
  animation: backgroundchange 24s infinite;
  background-position: center;
  background-size: cover;
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  text-shadow: 1px 1px 3px #444;
  grid-area: a;
=======
  margin-top:1px;
  position: relative;
>>>>>>> Stashed changes
}


.showcase h1 {
  text-shadow: var(--shadow);
  font-size: 3rem;
  line-height: 3rem;
}

.showcase p {
  text-shadow: var(--shadow);
  font-size: 3rem;
  text-transform: capitalize;
}

<<<<<<< Updated upstream
/* boxes formatting */
=======
/*hiding images by default */
.mySlides {
  display: none;
}

/* next and prev buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top:50%;
  width:auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--light);
  font-weight:bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* positioning next button to right */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

/* hover for prev, next */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* caption text */
.captext {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* number text (1/3) etc */
.numbertext {
  color: var(--light);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* dots formatting */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  transform: scale(0.65);
  margin: 0 2px;
  align-items: center;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  grid-area: b;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

/* boxes formatting --------------------------------------------------------*/
>>>>>>> Stashed changes
.box {
  height: auto;
  align-items: center;
  color: var(--dark);
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  padding:2rem;
  padding-left: 4rem;
  box-shadow: var(--shadow);
}

.box p {
  font-size: 1.4rem;
  margin-top: 20px;
}

.box-1 {
  grid-area: box-1;
  margin-left: 20px;
}

.box-2 {
  grid-area: box-2;
  margin-right: 20px;
}

/* video section */
.int-video {
  align-items: center;
  padding: 10px 20px;
  background-color: var(--light);
  margin: 20px;
}

/* testimonials formatting */
.testimonial {
  display: flex;
  flex-direction: column;
}

.testimonial h1 {
  text-align: center;
}

.testimonial img {
  max-width: 40%;
}

.test {
  display: block;
  padding: 20px;
  margin: 10px 20px;
  background: var(--light);
  text-align: center;
  box-shadow: var(--shadow);
}

.test p {
  text-align: center;
}

/* Animations */

@keyframes backgroundchange {
  0%,100% {background-image: url(../img/random.jpg);}
  33% {background-image: url(../img/Diatone.png);}
  67% {background-image: url(../img/dportrait.jpg);}
}

/* media queries */
@media(max-width: 600px) {
  /* fixing the nav bar */
  .top-container {
    grid-template-areas:
    'a'
    'box-1'
    'box-2'
  }

<<<<<<< Updated upstream
  /* changing min-height of showcase */
  .showcase {
    min-height: 400px;
=======
  .sidebar {
    display: none;
>>>>>>> Stashed changes
  }

  /* fixing boxes */
  .box {
    margin: 10px 20px;
  }

  /* reducing text sizes */
  .showcase p {
    font-size: 2.5rem;
  }

}
