/* formatting the explanation blurb */

.explanation {
  margin: 20px;
  background-color: var(--light);
  padding: 20px;
  box-shadow: var(--shadow);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.video {
  margin: 20px;
  background-color: var(--light);
  padding:20px;
  box-shadow: var(--shadow);
}


@media(max-width: 600px) {

  .container {
    display: grid;
    grid-template-columns: none;
  }

}
